
@{
    ViewBag.Title = "OrderCar";
}

<h2>Поступила заявка на аренду машины</h2>
<div>
    <p>Заявка от: @ViewBag.Customer.Name</p>
    <p>Рейтинг клиента: @ViewBag.Scoring.TotalScore</p>
    <br />
    @foreach (var s in ViewBag.scoring.ScoreCategories)
    {
        <p>@s.Key: @s.Value</p>
    }
    @if (ViewBag.Scoring.TotalScore < 500)
    {
        <p>Рекомендуется отказать</p>
    }
    else
    {
        if (ViewBag.Scoring.TotalScore < 800)
        {
            <p>Рекомендуется утвердить</p>
        }
        else
        {
            <p></p>
        }
    }
    <input type="submit" value="Утвердить" /> <input type="submit" value="Отказать" />
</div>

